body {
    background-image: url("../Images/cardboard-wallpaper-template.jpg");
    background-size: 100% ;
}
 header {
    display: flex;
    justify-content: center;
 }

 footer {
    background-color: #D44242;
    border-color: #972F2F;
    border-style: solid;
    border-width: 10px 2px 0 2px;
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    color: white;
 }

.head {
    width: 300px;
    z-index: 1;
  }

#social_nav {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
}

.social {
    width: 50px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.articles {
display: block;
   color: white;
   background-color: #972F2F;
   opacity: 75%;
   width: auto;
   padding: 10px 50px 10px 50px;
   margin-left: 0;
   margin-right: 0;
}
#more {display: none;}

.covers {
    max-width: 450px;
    width: 90%;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

#navigation {
    margin: 0;
}
#navigation > li {
    justify-content: center;
    text-align: center;
    color: white;
    list-style-type: none;
    background-color: #D44242;
    border-color: #972F2F;
    border-style: solid;
    border-width: medium;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #972F2F;
    background-size: 200%;
}

@media only screen and (min-width: 650px) {
    .head {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        z-index: 1;
      }
    #social_nav {
        float: right; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
    }
    .social {
        width: 100px;
    }
    #navigation {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        z-index: 3;
    }
    #navigation li {
        display: inline;
        list-style-type: none;
        float: left;
        width: 200px;
     
      }
      .articles {
        display: inherit;
        width: 900px;
        columns: 2;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

}